# Core functionality - changes here should be rare!
/src/app.py                   @Bigatto
/src/backend/database.py      @Bigatto
/src/backend/routers/auth.py  @Bigatto

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Bigatto
